/* ============================================================
   Gilroy — user-licensed, bundled from local TTFs in assets/fonts/.
   Used for the "Flag Foundation" home headline (Figma: Gilroy Regular
   130.319px). Poppins/Parisienne/Inter/Port Lligat Slab are bundled
   via @fontsource imports in src/main.tsx.
   font-display: block — kiosk renders offline from disk; a brief block
   beats a metrics-shifting swap on a pixel-perfect screen.
   ============================================================ */

@font-face {
  font-family: 'Gilroy';
  src: url('../../assets/fonts/Gilroy-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../../assets/fonts/Gilroy-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../../assets/fonts/Gilroy-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../../assets/fonts/Gilroy-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: block;
}
